{% block head %}
<head>
  <link rel="stylesheet" type="text/css" href="../static/style.css">
  <title>APICTIONARY</title>
</head>
<div id="container">
  <div id="banner"><center><img class="banner" src="../static/apictionary.png" align="middle"></img></center></div>

  <div id="nav">
    <ul class="header">
      {% if query %}
      <div id="searcher">
	<form>
	  <li class="header">
	    <input type="text" name="word" placeholder="Search for word"><input type="submit" value="Define">
	  </li>
	</form>
      </div>
      <li class="header"><a href="/">Home</a></li>
      {% else %}
      <li style="padding-right:10px;padding-bottom:11px;padding-top:13px;margin-left:280px;"><a href="/">Home</a></li>
      {% endif %}
  </ul>
  </div>
  <br>


  {% endblock head %}
