.chart div {
    font: 12px sans-serif;
    background-color: steelblue;
    text-align: right;
    padding: 3px;
    margin: 1px;
		font-weight: bold;
		color: white;
}

table td.state {
		font: 14px sans-serif;
		text-transform: uppercase;
}

table td {
		height: 40px;
}



